@font-face {
    font-family: 'sbc-font';
    src: url('../fonts/sbc-font-Regular.ttf');
}

@font-face {
    font-family: 'sbc-font-bold';
    src: url('../fonts/sbc-font-Bold.ttf');
}

@font-face {
    font-family: 'cb-regular';
    src: url('../fonts/Cb-Regular.ttf');
}