@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'header';

body{
    background: url('../img/background.png') center center/cover no-repeat;
    position: relative;
}

.partner-slide{
    padding-top: 73px;
    &__box{
        &__title{
            text-align: center;
        }
        &__line{
            height: 1px;
            background-color: #DE6466;
            width: 90px;
            margin: 0 auto;
            margin-top: 17px;
        }
    }
}
